.container{
    background-color: rgb(226, 178, 45);
    width:700px;
    height:900px;
    margin:auto;
    border-radius:10px;
}

.buttons{
    float:left;
    margin-top:20px;
    margin-left: 175px;
    display:grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    grid-row-gap: 10px;
    grid-column-gap:10px;
    
}
button{
    font-size: 30px;
    border-radius:20px;   
}
button:hover{
    cursor:pointer;
    background-color: rgb(218, 245, 245);
}
.display{
    background-color: rgb(226, 226, 226);
    width:350px;
    height:80px;
    display:inline-block;
    margin-top:200px;
    margin-left: 175px;
    border-radius:20px;
    border: 1px solid black ;  
    
     
}
.display p{
    /* font-size: 30px; */
    text-align:right;  
    padding-right:10px;
    

}
.display .answerText{
    font-size:20px;
    font-weight: bold;
    margin-top:-5px}